.form-post{
    display: flex;
    align-items: 'center';
    flex-direction: column;
    border: 2px solid #CCC;
    background: #f4f4f4;
    padding: 2rem;
    border-radius: 10px;
}
.form-post input{
    height:30px;
}


/* Para formulario de todas as inclusões */
.formnovo {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.formnovo label {
  text-align: left;
  width: 200px;
}

.h1o {
  align-items: center;
  justify-content: center;
  display: block;
  text-align: center;
}


.div_excel {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}